body, h1, h2, h3, h4, p, a {
    font-weight: normal;
  }
  
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Arsenal', sans-serif;
    font-size: 0;
}

.content {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    margin: auto;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #282825;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;

    color: #282825;
}

.white {
    color: azure;
}

.header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.9) 100%),
        url(/img/mountain.JPG);
    background-size: cover;
    background-position: center;
} 

.experience {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0) 100%),
        url(/img/forest.jpg);
    background-size: cover;
    background-position: center;
} 

.background {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.9) 100%),
        url(/img/forest2.jpg);
    background-size: cover;
    background-position: center;
} 

.contacts {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0) 100%),
        url(/img/sunset.jpg);
    background-size: cover;
    background-position: center;
} 

.nav {
    padding-top: 30px;
    display: flex; 
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    padding-left: 0px;
}

li.nav-item {
    list-style: none;
    padding: 0 5px;
}

a.nav-link {
    text-decoration: none;
}

.menu {
    font-size: 30px;
    text-transform: uppercase;
    color: #282825;
}

.title {
    position: relative;
    top: 30%;
    text-align: center;
}

.page-title {
    text-align: center;
    padding-top: 3%;
}

.button {
    background: rgba(196, 196, 196, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 14px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.stub {
    margin-top: 30%;
    text-align: center;
}